@import "../../scss/main.scss";

.gear {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  transition: 400ms;
  font-size: 2rem;
  z-index: 4;
  color: $black;

  &:hover {
    transform: rotate(45deg);
  }
}

.pomodoro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

@media (max-width: 499px) {
  .pomodoro {
    height: 100%;
  }
}
